* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* woff2 font face declaration */
@font-face {
  font-family: "urbanist-regular";
  src: url(webfonts/Urbanist-Regular.woff2);
}
/* regular */
@font-face {
  font-family: "urbanist-medium";
  src: url(webfonts/Urbanist-Medium.woff2);
}
/* medium */
@font-face {
  font-family: "urbanist-semibold";
  src: url(webfonts/Urbanist-SemiBold.woff2);
}
/* semibold */
@font-face {
  font-family: "urbanist-bold";
  src: url(webfonts/Urbanist-Bold.woff2);
}
/* bold */
/* woff2 font face declaration */
body {
  background-color: var(--body-bacground-colour);
}
:root {
  --body-bacground-colour: #1e1e1e;
  /*  */
  /* ABSOLUTE COLOURS */
  --white: #ffffff;
  --black: #000000;
  /* ABSOLUTE COLOURS */
  /*  */
  /* PURPLE SHADES */
  --purple-60: #703bf7;
  --purple-65: #8254f8;
  --purple-70: #946cf9;
  --purple-75: #a685fa;
  /*  */
  --purple-90: #dbcefd;
  --purple-95: #ede7fe;
  --purple-97: #f4f0fe;
  --purple-99: #fbfaff;
  /* PURPLE SHADES */
  /*  */
  /* WHITE SHADES */
  --white-90: #e4e4e7;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --white-99: #fcfcfd;
  /* WHITE SHADES */
  /*  */
  /* GREY SHADES */
  --grey-08: #141414;
  --grey-10: #1a1a1a;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4d4d4d;
  --grey-40: #666666;
  --grey-50: #808080;
  --grey-60: #999999;
  /* GREY SHADES */
}
/* MEDIA QUERY FOR DESKTOP AND LAPTOP */
@media screen and (min-width: 480px) {
  /*  */
  #notification_alert {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 45px;
    background-image: url(images/abstract_backgroud_design.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "urbanist-regular";
    color: var(--white);
    justify-content: center;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*  */
    .alert_message {
      display: flex;
      justify-self: center;
      padding-left: 200px;
    }
    /*  */
    a {
      color: var(--white);
      font-family: "urbanist-regular";
      font-size: 15px;
      padding-left: 6px;
    }
    /*  */
    .cancel_button {
      background-color: var(--grey-20);
      border-radius: 20px;
      padding: 5px;
      width: 25px;
    }
    /*  */
  }
}
/* MEDIA QUERY FOR MOBILE */
@media screen and (max-width: 480px) {
  #notification_alert {
    width: 100%;
    height: 42px;
    background-image: url(images/abstract_backgroud_design.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "urbanist-regular";
    color: var(--white);
    justify-content: center;
    font-size: 8px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    /*  */
    .alert_message {
      display: flex;
      /* flex-direction: column; */
      justify-self: center;
      /* padding-left: 200px; */
    }
    /*  */
    a {
      color: var(--white);
      font-family: "urbanist-regular";
      font-size: 8px;
      padding-left: 6px;
    }
    /*  */
    .cancel_button {
      background-color: var(--grey-20);
      border-radius: 20px;
      padding: 5px;
      width: 25px;
    }
    /*  */
  }
}
